@use "reset" as *;

@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat-Regular.woff2") format("woff2"),
    url("assets/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

header {
  grid-area: 1 / 2 / 2 / 5;
}

.dashboard {
  &__sidebar {
    grid-area: 1 / 1 / 5 / 2;
  }
  &__overview {
    grid-area: 2 / 2 / 5 / 5;
  }
}
