.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}

.main__content {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main__projects {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.main__announcements {
  grid-column: 2 / 3;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar__logo {
  display: flex;
}

nav ul li {
  display: flex;
}

.main__header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
