@font-face {
  font-family: "Sen";
  src: url("Sen-Regular.woff2") format("woff2"),
    url("Sen-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Sen", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
  background-color: #1e293b;
  color: #cbd5e1;
}

.main__content {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.25rem;
  margin-top: 2rem;
}

.main__projects {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}

.main__card {
  display: flex;
  flex-direction: column;
}

.main__announcements {
  grid-column: 2 / 3;
  max-height: 80vh;
  overflow-y: auto;
}

.main__icons {
  display: flex;
  align-self: flex-end;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar__logo {
  display: flex;
}

nav ul li {
  display: flex;
}

.main__header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

svg {
  fill: #cbd5e1;
}
