:root {
  /*colors*/
  --background-clr: #1e293b;
  --text-clr: #cbd5e1;
  --accent-clr: #0ea5e9;
  --card-clr: #475569;

  /*font-weight*/
  --bold: 600;

  /*spacing*/
  --xsmall: 0.5rem;
  --small: 1rem;
  --medium: 1.25rem;
  --big: 2rem;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("assets/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("assets/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
  background-color: var(--background-clr);
  color: var(--text-clr);
  padding: var(--small);
}

main {
  padding: var(--small);
}

.main__content {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: var(--medium);
  margin-top: var(--big);
}

.main__content h2 {
  margin-bottom: var(--small);
}

.main__projects {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: var(--medium);
  row-gap: var(--medium);
}

.main__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-clr);
  gap: var(--small);
  padding: var(--medium);
  border-radius: var(--xsmall);
  border-left: 5px solid var(--accent-clr);
  box-shadow: 1px 1px 5px var(--accent-clr);
}

.main__card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--accent-clr);
  transition: all ease 0.5s;
}

.main__icons a svg:hover {
  fill: var(--accent-clr);
  transition: all ease 0.2s;
}

.main__announcements {
  grid-column: 2 / 3;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--small);
  padding: 0 var(--xsmall);
}

.main__announcements h2 {
  margin-bottom: 0;
}

.main__announcements::-webkit-scrollbar {
  width: 0.625rem;
}

.main__announcements::-webkit-scrollbar-track {
  background: var(--text-clr);
  border-radius: var(--xsmall);
}

.main__announcements::-webkit-scrollbar-thumb {
  background: var(--accent-clr);
  border-radius: var(--xsmall);
}

.main__announcement {
  border-radius: var(--xsmall);
  border-bottom: 1px solid var(--card-clr);
  border-top: 1px solid var(--card-clr);
  border-right: 1px solid var(--card-clr);
  border-left: 5px solid var(--accent-clr);
  padding: var(--xsmall);
}
.main__announcement a {
  color: var(--accent-clr);
  font-weight: var(--bold);
}

.main__icons {
  display: flex;
  align-self: flex-end;
  gap: var(--small);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--medium);
}

.sidebar__logo {
  display: flex;
  gap: var(--small);
}

.sidebar__logo a {
  color: var(--text-clr);
  font-size: var(--big);
  font-weight: var(--bold);
}

nav {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
}

nav ul li {
  display: flex;
  gap: var(--medium);
  font-size: var(--medium);
  font-weight: var(--bold);
  width: 60%;
  padding: 0.3rem;
}

nav ul li:hover {
  background-color: var(--card-clr);
  transition: all ease 0.1s;
  cursor: pointer;
  border-radius: var(--small);
}

nav ul li a {
  color: var(--text-clr);
}

nav ul li a:hover,
.sidebar__logo a:hover {
  color: var(--accent-clr);
  transition: all ease 0.1s;
}

.nav__primary,
.nav__secondary {
  display: flex;
  flex-direction: column;
  gap: var(--medium);
}

.main__header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--medium);
}

svg {
  fill: var(--text-clr);
}

.main__searchbar {
  display: flex;
  width: 100%;
}

.search-btn {
  border: none;
  background-color: var(--background-clr);
  padding: 0.2rem;
  cursor: pointer;
}

.search-btn svg:hover {
  fill: var(--accent-clr);
  transition: all ease 0.1s;
}

label[for="search"] {
  width: 100%;
}

input[type="search"] {
  border-radius: var(--small);
  padding: 0.3rem;
  width: 100%;
}

input[type="search"]:focus,
input[type="search"]:focus-visible {
  border: 2px solid var(--accent-clr);
  outline: none;
}

input[type="search"]:hover {
  cursor: text;
  border: 2px solid var(--accent-clr);
  background-color: var(--text-clr);
  transition: all ease 0.1s;
}
input[type="search"]:focus::placeholder {
  color: transparent;
}

input[type="search"]::placeholder {
  color: var(--card-clr);
}

.main__header {
  padding-top: var(--xsmall);
}

.main__header-left {
  display: flex;
  flex-direction: column;
  gap: var(--medium);
}

.main__greeting {
  display: flex;
  align-items: center;
  gap: var(--medium);
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease 0.2s;
}

.main__greeting-text {
  display: flex;
  flex-direction: column;
  font-weight: var(--bold);
  font-size: 1.2rem;
}

.main__greeting-text a {
  color: var(--text-clr);
  text-decoration: underline;
  font-size: 1.2rem;
}

.main__greeting-text a:hover {
  color: var(--accent-clr);
  transition: all ease 0.1s;
}

.main__header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 3rem;
}

.main__notifications {
  display: flex;
  align-items: center;
  gap: var(--medium);
}

.main__notifications svg:hover {
  cursor: pointer;
  fill: var(--accent-clr);
  transform: scale(1.2);
  transition: all ease 0.1s;
}

.main__profile {
  display: flex;
  align-items: center;
  gap: var(--medium);
}

.main__profile img {
  width: var(--big);
  height: var(--big);
}

.main__profile a {
  color: var(--text-clr);
  font-size: 1.2rem;
  font-weight: var(--bold);
}

.main__profile a:hover {
  color: var(--accent-clr);
  transition: all ease 0.1s;
}

.main__buttons {
  display: flex;
  gap: var(--medium);
}

.main__buttons a {
  color: var(--text-clr);
  border: 2px solid var(--accent-clr);
  border-radius: var(--small);
  padding: var(--xsmall) 1.5rem;
  font-weight: var(--bold);
}

.main__buttons a:hover {
  transform: scale(1.2);
  transition: all ease 0.3s;
}

.main__buttons a:active {
  background-color: var(--accent-clr);
}

.main__trending {
  display: flex;
  flex-direction: column;
  gap: var(--medium);
}

.main__trend {
  display: flex;
  gap: var(--medium);
}

.main__trend-info a {
  color: var(--accent-clr);
  font-weight: var(--bold);
}
